In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mlxtend.frequent_patterns import apriori, association_rules

In [17]:
fp_df=pd.read_csv('Faceplate.csv',index_col=0)
fp_df

             Red  White  Blue  Orange  Green  Yellow
Transaction
1              1      1     0       0      1       0
2              0      1     0       1      0       0
3              0      1     1       0      0       0
4              1      1     0       1      0       0
5              1      0     1       0      0       0
6              0      1     1       0      0       0
7              1      0     1       0      0       0
8              1      1     1       0      1       0
9              1      1     1       0      0       0
10             0      0     0       0      0       1

In [18]:
fp_df=fp_df.astype(bool)

In [19]:
fp_df

               Red  White   Blue  Orange  Green  Yellow
Transaction
1             True   True  False   False   True   False
2            False   True  False    True  False   False
3            False   True   True   False  False   False
4             True   True  False    True  False   False
5             True  False   True   False  False   False
6            False   True   True   False  False   False
7             True  False   True   False  False   False
8             True   True   True   False   True   False
9             True   True   True   False  False   False
10           False  False  False   False  False    True

In [28]:
#create frequent items
itmesets=apriori(fp_df,min_support=0.2,use_colnames=True)

In [29]:
#And convert into rules
rules=association_rules(itmesets,metric='confidence',min_threshold=0.6)
rules=rules[['antecedents','consequents','support','confidence','lift']]

In [30]:
rules=rules[rules['lift']>1]

In [31]:
rules.sort_values(by='lift',ascending=False)

      antecedents   consequents  support  confidence      lift
9         (Green)  (Red, White)      0.2    1.000000  2.500000
3         (Green)         (Red)      0.2    1.000000  1.666667
8  (White, Green)         (Red)      0.2    1.000000  1.666667
5        (Orange)       (White)      0.2    1.000000  1.428571
6         (Green)       (White)      0.2    1.000000  1.428571
7    (Red, Green)       (White)      0.2    1.000000  1.428571
1          (Blue)         (Red)      0.4    0.666667  1.111111
2           (Red)        (Blue)      0.4    0.666667  1.111111

##  Using gradio for user interface

In [33]:
def gen_rule(min_sup,min_thres):
    #create frequent items
    itmesets=apriori(fp_df,min_support=min_sup,use_colnames=True)
    #And convert into rules
    rules=association_rules(itmesets,metric='confidence',min_threshold=min_thres)
    rules=rules[['antecedents','consequents','support','confidence','lift']]
    rules=rules[rules['lift']>1]
    return rules.sort_values(by='lift',ascending=False)

In [34]:
import gradio as gr

In [35]:
demo=gr.Interface(gen_rule,inputs=[gr.Slider(minimum= 0.0001,maximum=1,value=0.1,step=0.1),
                                  gr.Slider(minimum= 0.0001,maximum=1,value=0.1,step=0.1)],
                 outputs='dataframe')

In [37]:
if __name__=='__main__':
    demo.launch()

Running on local URL:  http://127.0.0.1:7863

To create a public link, set `share=True` in `launch()`.